.App {
  text-align: center;
  background-color:#fff;
  box-sizing: border-box;
  width:600px;
  margin:15px auto;
  padding: 10px;
  border-radius: 10px;
  min-height:450px;
}

.App-link {
  color: #61dafb;
}

h2{
  margin-top:0;
}

form{
  background-color: #fbfbfb;
  padding: 2rem;
  margin-bottom: 2rem;
  display: flex;
  justify-content: center;
}

input[type="text"]{
  padding: 0.75rem 0.55rem 0.75rem 1rem;
  font-size: 14px;
  border: 1px solid #aaa;
  /*border-radius: .5em;*/
  width: 40%;
  margin-right: 10px;
}

.movie{
  display:flex;
  margin: 20px 0;
}

.movie img {
  height: 270px;
}

.movie-details{
  text-align:left;
  padding-left: 15px;
}

.year{
  color:#aaa;
  font-size: 12px;
}
.year::before{
  content:'(';
}
.year::after{
  content:')';
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
